

<%= form_for @person do |f| %>
<hr />
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>Before saving, please correct the <%= pluralize(@person.errors.count, "error") %> on the form:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name , autofocus: true %>
    <br />

    <%= f.label :age %>
    <%= f.text_field :age %>
    <br />

    <%= f.label :race %>
    <%= f.text_field :race %>
     <br />

    <%= f.label :hair_color %>
    <%= f.text_field :hair_color %>
    <br />

    <%= f.label :alive %>
    <%= f.check_box :alive, {checked: true} %>
    <br />

    <%= f.submit%>
 <br />
<% end %>

